[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=mate-panel-launcher
Name[en_US]=SPSS License Wizard
Exec=/home/{{ item.name }}/spss/bin/licensewizard
Name=SPSS License Wizard
Icon=mate-panel-launcher
